<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" href="/images/thatteidli_icon.jpg" type="image/x-icon"/>
  <title>Thatte Idli</title>
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/stylesheets/login.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script type='text/javascript'>
  
	 $(function(){


		var err = '<%- error %>';
		console.log(err);
		if(err === 'none'){
			$('p#error').text('');
		}
		if(err === 'Invalid User'){
			$('p#error').text('User name does not Exist');
    }
    if(err === 'Invalid Password'){
      $('p#error').text('Password is Incorrect');
    }

	 });

	</script>
  </head>
  <body>
      <img class="wave" src="/images/thatteidli.jpg" height="100" width="700">
      <div class="container">
      <div class="img"></div>
      <div class="login-content">
        <form method="POST" action="/thatte/changePassword">
          <p style="color:red" id="error"></p>
          <h2 class="title">Change Password</h2>
                 <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Username</h5>
                        <input type="text" name="userName" class="input" required>
                    </div>
                 </div>
                 <div class="input-div pass">
                    <div class="i"> 
                       <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                       <h5>Password</h5>
                       <input type="password" name="password" class="input" required>
                   </div>
                </div> 
                <div class="input-div pass">
                  <div class="i"> 
                     <i class="fas fa-lock"></i>
                  </div>
                  <div class="div">
                     <h5>New Password</h5>
                     <input type="password" name="changePassword" class="input" required>
                 </div>
              </div>
          <input type="submit" class="btn" value="Submit">
    </form>
    </div>
    </div>
    <script type="text/javascript">
	
      const inputs = document.querySelectorAll(".input");
      
      function addcl(){
        let parent = this.parentNode.parentNode;
        parent.classList.add("focus");
      }
      
      function remcl(){
        let parent = this.parentNode.parentNode;
        if(this.value == ""){
          parent.classList.remove("focus");
        }
      }
      
      inputs.forEach(input => {
        input.addEventListener("focus", addcl);
        input.addEventListener("blur", remcl);
      });
    </script>
  </body>

</html>